albumentations==2.0.5
attr==0.3.2
comet_ml==3.49.7
ConfigParser==7.2.0
contextlib2==21.6.0
coremltools==8.2
cryptography==44.0.2
docutils==0.21.2
Flask==3.1.0
HTMLParser==0.0.2
importlib_metadata==8.0.0
ipython==9.0.2
ipywidgets==8.1.5
Jinja2==3.1.6
jnius==1.1.0
keyring==25.6.0
lockfile==0.12.2
matplotlib==3.10.1
mock==5.2.0
mss==10.0.0
nncf==2.15.0
numpy==2.2.4
onnx==1.17.0
onnxruntime==1.21.0
onnxslim==0.1.49
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
openvino==2025.0.0
oss2==2.19.1
paddle==1.0.2
pafy==0.5.5
pandas==2.2.3
Pillow==11.1.0
protobuf==6.30.2
psutil==6.1.1
pycocotools==2.0.8
pyOpenSSL==25.0.0
PyYAML==6.0.2
PyYAML==6.0.2
railroad==0.5.0
scipy==1.15.2
seaborn==0.13.2
Sphinx==8.2.3
tensorflow==2.19.0
tensorflowjs==4.22.0
tensorrt==10.9.0.34
tflite_runtime==2.14.0
tflite_support==0.4.4
thread==2.0.5
torch==2.6.0+cu118
torchvision==0.21.0+cu118
tornado==6.4.2
tqdm==4.67.1
tritonclient==2.55.0
truststore==0.10.1
ultralytics==8.3.74
ultralytics_thop==2.0.14
urllib3_secure_extra==0.1.0
x2paddle==1.6.0
xmlrpclib==1.0.1
